<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ip-quote-save-services/src/main/java/br/com/intelipost/ipquoteservices/IpQuoteSaveServicesApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.intelipost.ipquoteservices.IpQuoteSaveServicesApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ip-quote-save-services"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ip-quote-save-services"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="REDIS_HOST=redis-quote-prd.ifinfo.ng.0001.sae1.cache.amazonaws.com;RABBITMQ_USERNAME=drcookhf;REDIS_PORT=6379;RABBITMQ_PORT=5672;RABBITMQ_PASSWORD=48wJ4WoLPljsPNJLIzID7-2gH0-zHfUF;RABBITMQ_HOST=devoted-fuchsia-dolphin.rmq.cloudamqp.com"/>
</launchConfiguration>
